.git
.github
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
public/vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
docs
tests
.phpunit.cache
.phpunit.result.cache
/*.md
.fleet
.idea
.vscode
.claude
.DS_Store
Homestead.json
Homestead.yaml
.bash*
.profile
.zshrc
Makefile
docker-compose.yml
docker-compose.override.yml
